body {
  background-color: black;
  color: white;
}

#container {
  margin: 0 auto;
  max-width: 800px;
  padding: 50px;
  border: 5px solid red;
}

p, img {
  border: 5px solid red;
  padding: 10px;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.project {
  margin-top: 50px;
  text-align: center;
}

.project a {
  color: white;
  text-decoration: none;
  border: 2px solid red;
  padding: 5px 10px;
}

.project a:hover {
  background-color: red;
}
